body{
  background-color: #f5f7fa;
}
.site-content{
  display: block;
  margin-top: 100px;
  margin-left: 100px;
}

.illustration{
  position: absolute;
  width: 270px;
  right: 50px;
  top: 100px;
}

lessons{
  font-size: 34px;
  font-weight: bold;
}
years{
  font-size: 34px;
  font-weight: bold;
  color: #4caf4f;
}
where{
  position: absolute;
  font-size: 15px;
  padding-top: 20px;
}

.register{
  margin-top: 40px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #4caf4f;
  border: none;
  border-radius: 2.5px;
  color: white;
  font-weight: bold;
}