section{
  margin-top: 100px;
}
.site-content{
  
}
h5{
  font-weight: normal;
}
.content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F5F7FA;
  min-height: 600px;
}

lessons{
  font-size: 50px;
  font-weight: bold;
  color: #4D4D4D;
  line-height: 76px;
}
years{
  font-size: 50px;
  font-weight: bold;
  color: #4CAF4F;
  line-height: 76px;
}

.content-wrapper h4{
  font-size: 16px;
  font-weight: normal;
  padding: 20px 0px;
  color: #717171;
  line-height: 24px;
}

#register_bttn{
  width: 100px;
  padding: 10px 20px;
  background-color: var(--bttn-primary-color);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: var(--hover-color)
}

#register_bttn:hover{
  cursor: pointer;
}

.illustration{  
  width: 390px;
}

@media screen and (max-width: 930px){
  .site-content{
    padding-top: 5vh;
  }
  #content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  }
  .cont{
    align-items: center;
  }
  .illustration{
    transform: translateY(0);
    margin-top: 20px;
  }
  
}


.clients{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 500px;
  text-align: center;
}

.clients h2{
  color: #4D4D4D;
  font-size: 36px;
  line-height: 44px;
}
.clients h3{
  color: #4D4D4D;
  line-height: 36px;
}
.clients h5{
  color: #717171;
  font-weight: normal;
  line-height: 24px;
}

.client-logo{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.suitable-container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.organization, .associations, .groups{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: center;
}

.unseen-spending-container{
  display: flex;
  justify-content: center;
}

.unseen-spending-container-float{
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

.illustration-unseen-spending{
  width: 390px;
}

.unseen-spending-container h1{
  font-size: 36px;
  color: #4D4D4D;
}

.unseen-spending-container h5{
  font-size: 14px;
  color: #717171;
  font-weight: normal;
}

.description-unseen-spending{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 600px;
}

.learn-more{
  padding: 10px 20px;
  background-color: var(--bttn-primary-color);
  border: none;
  border-radius: 4px;
  color: #333;
  font-weight: bold;
  font-family: 'Poppins';
}

.helping-local-container{
  width: 100vw;
  background-color: #F5F7FA;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.helping-local-container-float{
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

helping, business{
  font-size: 36px;
  font-weight: bold;
}
helping{
  color: #4D4D4D;
}
business{
  color: #4CAF4F;
}

.helping-local-container h5{
  color: #18191F;
  font-weight: 400;
}

.customers-container{
  display: flex;
  justify-content: center;
}
.customers-wrapper{
  display: flex;
  min-width: 1200px;
  min-height: 400px;
  align-items: center;
  justify-content: space-between;
}
.description4{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  max-width: 800px;
}
.description4 h5{
  font-size: 16px;
  line-height: 24px;
  font-weight: 800px;
}
.description4 h4{
  font-size: 20px;
  color: var(--bttn-primary-color);
  line-height: 28px;
}
.description4 a{
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  font-weight: 400px;
}
.customers-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.customers-footer a{
  font-size: 20px;
  color: var(--bttn-primary-color)
}
.customer-footer-logo{
  width: 41px;
}
