section{
  margin-top: 100px;
}
.site-content{
  
}
h5{
  font-weight: normal;
}
.content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F5F7FA;
  min-height: 600px;
}

lessons{
  font-size: 50px;
  font-weight: bold;
  color: #4D4D4D;
  line-height: 76px;
}
years{
  font-size: 50px;
  font-weight: bold;
  color: #4CAF4F;
  line-height: 76px;
}

.content-wrapper h4{
  font-size: 16px;
  font-weight: normal;
  padding: 20px 0px;
  color: #717171;
  line-height: 24px;
}

#register_bttn{
  width: 100px;
  padding: 10px 20px;
  background-color: var(--bttn-primary-color);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: var(--hover-color)
}

#register_bttn:hover{
  cursor: pointer;
}

.illustration{  
  width: 390px;
}

@media screen and (max-width: 930px){
  .site-content{
    padding-top: 5vh;
  }
  #content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
  }
  .cont{
    align-items: center;
  }
  .illustration{
    transform: translateY(0);
    margin-top: 20px;
  }
  
}


.clients{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 500px;
  text-align: center;
}

.clients h2{
  color: #4D4D4D;
  font-size: 36px;
  line-height: 44px;
}
.clients h3{
  color: #4D4D4D;
  line-height: 36px;
}
.clients h5{
  color: #717171;
  font-weight: normal;
  line-height: 24px;
}

.client-logo{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.suitable-container{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.organization, .associations, .groups{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: center;
}

.unseen-spending-container{
  display: flex;
  justify-content: center;
}

.unseen-spending-container-float{
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

.illustration-unseen-spending{
  width: 390px;
}

.unseen-spending-container h1{
  font-size: 36px;
  color: #4D4D4D;
}

.unseen-spending-container h5{
  font-size: 14px;
  color: #717171;
  font-weight: normal;
}

.description-unseen-spending{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 600px;
}

.learn-more{
  padding: 10px 20px;
  background-color: var(--bttn-primary-color);
  border: none;
  border-radius: 4px;
  color: #333;
  font-weight: bold;
  font-family: 'Poppins';
}

.helping-local-container{
  width: 100vw;
  background-color: #F5F7FA;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
}

.helping-local-container-float{
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

helping, business{
  font-size: 36px;
  font-weight: bold;
}
helping{
  color: #4D4D4D;
}
business{
  color: #4CAF4F;
}

.helping-local-container h5{
  color: #18191F;
  font-weight: 400;
}

.customers-container{
  display: flex;
  justify-content: center;
  background: var(--hover-color);
}
.customers-wrapper{
  display: flex;
  min-width: 1200px;
  min-height: 400px;
  align-items: center;
  justify-content: space-between;
}
.description4{
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-around;
  max-width: 800px;
  color: #717171;
}
.description4 h5{
  font-size: 16px;
  line-height: 24px;
  font-weight: 800px;
}
.description4 h4{
  font-size: 20px;
  color: var(--bttn-primary-color);
  line-height: 28px;
}
.description4 a{
  font-size: 16px;
  text-decoration: none;
  color: #89939E;
  font-weight: 400px;
}
.customers-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.customers-footer a{
  font-size: 20px;
  font-weight: 600;
  color: var(--bttn-primary-color);
}
.customer-footer-logo{
  width: 41px;
}

.community-updates-container{
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.community-updates-wrapper{
  display: flex;
  flex-direction: column;
  min-width: 1152px;
  min-height: 506px;
  align-items: center;
  gap: 16px;
}

.community-updates-wrapper .title{
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
}
.community-updates-wrapper .description{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
  text-align: center;
  max-width: 628px;
}

.community-updates-wrapper .frame{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.community-updates-wrapper .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.community-updates-wrapper .content-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 317px;
  height: 176px;
  background-color: #F5F7FA;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #717171;
  border-radius: 8px;
  transform: translateY(-50%);
  box-shadow: 4px 4px 8px #6f6e6e;
  padding: 16px;
}
.community-updates-wrapper .content-description .content-description-txt{
  width: 285px;
  height: 82px;
}
.community-updates-wrapper a{
  text-decoration: none;
  color: #4CAF4F;
}

.community-updates-wrapper .image{
  width: 368px;
  display: block;
}

.frame-16{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.frame-16 {
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 120px;
  background-color: #F5F7FA;
  color: #263238;
  padding: 40px 0px;
}

.demo-bttn{
  background-color: var(--bttn-primary-color);
  border: none;
  font-weight: bold;
  color: #FFFFFF;
  padding: 14px 32px;
  border-radius: 4px;
}

.site-footer{
  padding: 64px 165px;
  background-color: #263238;
}

.footer-wrapper{
  display: flex;
  gap: 125px;
}

.wrapper-sec-1{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #F5F7FA;
}
.social-links{
  display: flex;
  gap: 16px;
}

.wrapper-sec-2{
  display: flex;
  gap: 30px;
}

.wrapper-sec-2-col{
  display: flex;
  flex-direction: column;
  min-width: 160px;
}

.wrapper-sec-2-col h3{
  font-size: 20px;
  color: #FFFFFF;
}


.wrapper-sec-2 a {
  text-decoration: none;
  display: block;
  color: #F5F7FA;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.wrapper-sec-2 input{
  margin-top: 30px;
  width: 255px;
  height: 40px;
  padding: 20px;
  background-color: #36474f;
  border-radius: 8px;
  border: 2px solid #36474f;
  color: #fff;
  outline: none;
  transition: border 0.3s;
}

.wrapper-sec-2 input::placeholder{
  color: #fff;
  opacity: 60%;
}

input:focus{
  border: 2px solid #fff;
  overflow: hidden;
}

.email-input{
  display: flex;
  align-items: flex-end;
}

.email-submit-bttn{
  display: inline;
  transform: translateX(-175%) translateY(-4px);
}

.email-submit-bttn:hover{
  cursor: pointer;
}
