:root {
  --bttn-primary-color: #4CAF4F;
  --nav-background-color: #ffffff;
  --hover-color: #F5F7FA;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Poppins';
}

body{
  overflow-x: hidden;
}

.nav-container{
  padding: 0 5vw;
  display: flex;
  width: 100vw;
  align-items: center;
  height: 65px;
  background: var(--nav-background-color);
}

.nav-container a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.nav-wrapper{
  min-width: 90vw;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  z-index: 999;
}

.login{
  display: flex;
  min-width: 182px;
  align-items: center;
  justify-content: space-between;
  color: var(--bttn-primary-color);
}

button:hover{
  cursor: pointer;
}

#open, #close{
  display: none;
}

.nav-links a:hover{
  background-color: #F5F7FA;
}

.nav-links a {
  padding: 20px;
}

#nav-signup-bttn{
  width: 90px;
  padding: 10px 0px;
  background-color: var(--bttn-primary-color);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
}

.nav-mobile-container{
  display: none;
  position: absolute;
  right: 20px;
  top: 52px;
  flex-direction: column;
  background-color: var(--nav-background-color);
  padding: 10px;
  z-index: 1;
  animation: nav-drop 0.5s ease-in-out;
}
.nav-mobile-links {
  display: none;
  flex-direction: column;
  align-items: center;
}
.nav-mobile-links a:hover{
  background: var(--hover-color);
  width: 100%;
  text-align: center;
}
.nav-mobile-links a{
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  margin: 10px;
}

@media screen and (max-width: 930px){
  .nav-links{
    display: none;
  }
  #open{
    display: block;
  }
  .options-icon{
    width: 30px;
  }
  .options-icon:hover{
    cursor: pointer;
  }
  #close.visible{
    display: block;
  }
  #open.invisible{
    display: none;
  }

  .nav-mobile-container.visible{
    display: flex;
  }
  .nav-mobile-links{
    display: flex;
    
  }

  @keyframes nav-drop {
    from{
      transform: translateY(-400px);
    }
    to{
      transform: translateY(0px);
    }
  }
}