*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'poppins';
}

.navBar{
  position: fixed;
  display: flex;
  background-color: #ffffff;
  height: 50px;
  align-items: center;
  padding-left: 100px;
}
.icon{
  display: inline;
  position: relative;
}
.logo{
  font-weight: bolder;
  font-size: 20px;
  margin-left: 10px;
}
.navBar a {
  text-decoration: none;
  color: inherit;
}

.rightMenue{
  width: 100%;
  right: 0px;
  margin-left: 500px;
}

.navBar ul {
  display: inline;
  list-style-type: none;
  text-align: center;
}

.navBar li{
  display: inline;
  padding: 20px;
}

.navBar li:hover{
  font-weight: bold;
  background-color: #F5F7FA;
}

.register-nav{
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #4caf4f;
  border: none;
  border-radius: 2.5px;
  color: white;
  font-weight: bold;
}

.register-nav:active{
  background-color: #388E3B;
}